* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffc0cb; 
  color: #4a2c2a; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8b6c2;
  padding: 10px 20px;
}


.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #f8b6c2;
  text-align: center;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu a {
  display: block;
  padding: 10px;
  color: #4a2c2a;
  text-decoration: none;
  font-weight: 600;
}

.menu a:hover {
  background-color: #f091a0;
  color: white;
  transition: 0.3s;
}

.menu.active {
  max-height: 200px;
  padding: 10px 0;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.icons a img {
  width: 40px;
  margin-left: 10px;
}

main {
  padding: 20px;
}

h1 {
  background-color: #f091a0;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.texto {
  background-color: #f8b6c2;
  padding: 15px;
  border-radius: 15px;
  line-height: 1.6;
  text-align: justify;
}
